header {
  background-color: #26292e;
}

.navbar-brand {
  color: #949598;
  font-family: "Butterfly Kids", cursive;
  font-weight: bold;
  font-size: 1.5rem;
}
.navbar-nav i {
  padding: 1vw;
  font-size: 2vw;
  background-color: white;
  border-radius: 50%;
  color: black;
  min-width: 4vw;
  text-align: center;
}

#welcome {
  background-color: #e7718b;
  color: white;
  position: relative;
}

.btn {
  color: white;
  font-size: 0.9rem;
  border-radius: 1vw;
  background: rgb(105, 105, 105);
  background: linear-gradient(
    180deg,
    rgba(105, 105, 105, 1) 0%,
    rgba(62, 62, 62, 1) 48%,
    rgba(44, 43, 43, 1) 100%
  );
  border: none;
}

#laptop {
  width: 100%;
}

.three-cols {
  background-color: #f4f4f6;
  border-bottom: #e7718b solid 1px;
}

.three-cols h4 {
  color: #717173;
}
.three-cols p {
  color: #ceced0;
}

.img-fluid {
  width: 90%;
  margin: 10px 0px;
}

footer {
  background-color: #222529;
  padding-top: 20px;
}

footer p {
  color: white;
}

footer ul {
  padding: 0;
  text-align: right;
}

footer li {
  display: inline;
}

footer i {
  padding: 1vw;
  font-size: 2vw;
  background-color: white;
  border-radius: 50%;
  color: black;
  min-width: 4vw;
  text-align: center;
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 3rem;
  }
}

@media (min-width: 2560px) {
  .navbar-brand {
    font-size: 6rem;
  }
}

@media (min-width: 1440px) {
  h4,
  p,
  .btn {
    font-size: 1.5rem;
  }
}
@media (min-width: 2560px) {
  h2,
  h4,
  p,
  .btn {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .btn {
    position: absolute;
    bottom: 10%;
  }
}
